.game-over-page {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding: 50px 16px;
    background: #F5F5F7;
}

.game-over-page-image {
    width: 288px;
    margin: 0 auto 40px auto;
}

.game-over-page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
}

.game-over-page-content-title {
    color: #88888c;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 116%;
    text-align: center;
}

.game-over-page-content-result {
    color: #1C1C21;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 116%;
    text-align: center;
}


/*Media screen 1024px*/
@media screen and (min-width: 1024px) {
    .game-over-page {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .game-over-page-image {
        width: 45%;
        margin: 0;
    }

    .game-over-page-content {
        width: 45%;
        height: auto;
        justify-content: center;
    }

    .game-over-page-content-title {
        font-size: 32px;
        text-align: start;
    }

    .game-over-page-content-result {
        margin-bottom: 60px;
        font-size: 56px;
        text-align: start;
    }
}